.shop-container {
    display: grid;
    grid-template-columns: 5fr 1fr;

}

/* .headline-search {
    display: grid;
    grid-template-columns: 4fr 2fr;
} */

.cart {

    background-color: blanchedalmond;
}